/* 컬러를 변수로 지정하는 법 */
/* :root{
    --main-color: rgb(98, 220, 147); 
    --sub-color: rgb(100, 100, 100)
}

#info-msg {

}

div {
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
} */

/* header-bar 영역 */
header {
    border-bottom: 1px solid rgb(235, 231, 231);
    margin-top: 10px;
    padding-bottom: 10px;
}

/* info-bar 영역 */
.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.info-bar__icons img {
    width: 17px;
}

.info-bar__time {
    font-size: 13px;
    font-weight: bold;
}

/* menu bar 영역 */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.menu-bar__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
}

.menu-bar__location img {
    width: 15px;
    
}

.menu-bar__location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar__icons img {
    width: 25px;
    margin-right: 8px;
}

.ya {
    width: 100px;
    padding: 10px;
    border: 5px;
    margin: 20px;
}